/* regole generali */

*{ 
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.row-header{ 
    height:50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.fa-bell{ 
    color: #ff9002;
    
}
header img{ 
    width:50px;
}
/* main sezione centrale */
main{ 
    height: calc(100vh - 50px);
    display: flex;
}
/* sezione student */
.student{ 
    background-color: #1b72e8;
    width: 100%;
    padding: 20px 10px;
    color: #fff;
    
}
.fa-plus{ 
    color:white;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    font-size: 0.8rem;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}
/* button sezione studente */
.button{ 
    color: #fff;
    background-color: #165bba;
    border: hidden;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 2px;
    
}
.student a { 
    display: inline-block;
    
}
 .fa-plus.icon { 
    border: hidden;
    width: 10px;
    padding-right: 10px;
}
.text-student{ 
    font-size: 0.8rem;
    padding: 10px 0;
    display: inline-block;
}
/* struttura tabella */
td{ 
    font-size: 0.7rem;
}
.btn.btn-outline-secondary{ 
    width: 30px;
    height: 30px;
    text-align: center;
}
.btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}
/* nav laterale main */
.nav-side{ 
    width:50px;
    height:100%;
    background-color:#0c2439;
    background-image: url(../img/sidebar-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.icon-menu{ 
    flex-grow: 1;
}
.nav-side img{ 
    width: 50px;
}
a{ 
    color: white;
    display: block;
}

/* admin nav laterale */
.gear{ 
   
    align-items: flex-end;
}

 .contenitore{ 
    width: calc(100% - 50px);
    flex-grow: 1;
    height: 100%;
    overflow: auto;
} 









    
   